//colores
$color1:#ffff;
$color2:#68c3d4;
$color3:#568ea3;
$color4:#373f51;
$color5:#191308;
$color2-t:rgb(104, 195, 212,.3);
$color4-t:rgb(55, 63, 81, .1);

//tipografía
$logo: "Arial Black";
$text: "Arial";
$logo_large: 30px;
$letra_normal:15px;
$letra_small: 12px;
$bold: 700;
