//colores
$color1a: #fae85a;
$color1b: #debf50;
$color1c: #f5c764;
$color1d: #dea350;
$color1e: #faa05a;
$color2a: #faa05a;
$color2b: #7ef57d;
$color2c: #f5a364;
$color2d: #694cf5;
$color2e: #4f3da8; 

//tipografía
$verdana: Verdana;
$weight-b: 700;
$weight-n: 500;

//tamaño fuente
$xxlarge: 22px;
$xlarge: 20px;
$large: 18px;
$medium: 14px;
$small: 12px;

