.footer {
    background-color: $color3;
    height: 50px;

    ul {
        padding: 10px;
        text-align: center;
    }

    &__li {
        display: inline-block;
        color: $color1;
    }

    &__li--icon {
        margin: 5px;

        a{
            color: $color1;
        }

        i:hover{
            color: $color5;
        }
    }
}